@import './variable';

.warrper-account {
    display: block;
    width: 70%;
    height: auto;

    .account-page-title {
        display: block;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 10px 0 20px 0;

        h1 {
            font-size: 18px;
            line-height: 100%;
        }
    }

    .account-setting-form {


        .form-group {
            width: 100%;
            display: block;
            border: 1px solid #333f48;
            background-color: #fff;
            height: 62px;
            position: relative;
            margin-bottom: 30px;
            transition: .2s;

            label {
                width: 100%;
                position: absolute;
                z-index: 10;
                font-size: 12px;
                padding: 10px ;
            }

            input {
                position: relative;
                height: 60px;
                width: 100%;
                padding: 28px 12px 11px;
                border: none;
                background-color: transparent;
                box-shadow: none;
                z-index: 2;
                color: #333f48;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                outline: 0!important

                
            }
            

            
        }


        .label {
            line-height: 21px;
            margin-bottom: 20px;
            font-size: 12px;
            
            strong {
                color: #333f48;
                font-size: 14px;
                font-weight: 550;
                padding-right: 2px;


            }
        }
        .row {
            display: flex;
            margin-left: -10px;
            margin-right: -10px;
            justify-content: space-between;
            margin-bottom: 20px;
            
            .col {
                width: 100%;
                padding: 0 10px;

                .form-group {
                    padding: 19px 32px 20px 12px;
                    height: 60px;
                    // box-shadow: none;
                    background-color: transparent;
                    cursor: pointer;
                    font-weight: 500;
                    position: relative;

                    label {
                        height: 100%;
                        line-height: 100%;
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        padding-top: 16px;
                    }

                    select {
                        z-index: 2;
                        border: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-position: right 11px center;
                        width: 100%;
                        padding-top: 20px;
                        padding-left: 20px;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDExIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS41IDZMMCAwTDExIDBMNS41IDZaIiBmaWxsPSIjMzMzMzMzIi8+Cjwvc3ZnPgo=);
                        background-size: 11px 6px;
                        // padding-right: 25px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        outline: none;
                        cursor: pointer;
                        background-color: transparent;

                        option {
                            // position: absolute;
                        }
                    }

                }
            }
        }

        .action {
            display: block;
            margin-top: 40px;
            width: 100%;
            padding: 10px 20px;
            background-color: #da291c;

            .btn {
                display: block;
                background-color: #da291c;
                width: 100%;
                color: white;
                font-size: 14px;
                font-weight: 700;
                line-height: 19px;
            }
        }
    }

}