
.block {

    .title {
        display: block;
        margin:  10px 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }
    .wrapper-background-nextproduct {
        display: flex;
        width: 100%;
        
        .background-image {
            width: 25%;
            
            .image {
                width: 100%;
            }
        }
    
        .list-product {
            width: 75%;
            padding: 0 0 0 40px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .block {
        .wrapper-background-nextproduct {
            display: block;
    
            .background-image {
                width: 100%;
                margin-bottom: 4px;
                .image {
                    width: 100%;
                }
            }
        
            .list-product {
                width: 100%;
                padding: 0;
                margin-bottom: 0;
                margin: 0 -5px;
            }
        }
    }
}


.swiper-button-next { 
    color: $background-header !important; 
    top: calc((100% )/ 2) !important;
    line-height: 50px !important;
    font-weight: 600;
    margin-right: 1%;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    background-color: rgba(250,250,250,.3);
    align-items: center;
}
.swiper-button-prev { 
    color: $background-header !important; 
    top: calc((100% )/ 2) !important;
    line-height: 50px !important;
    font-weight: 600;
    margin-right: 1%;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    font-weight: 600;
    margin-left: 1%;
    background-color: rgba(250,250,250,.3);
    
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    margin-right: 0 !important;

}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-next:after {
    margin-left: 0 !important;

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    border-radius: 0 !important;
}



.swiper-pagination-bullet-active {
    background-color: white !important;
}