@import "./variable";

.custom-product {
  display: block;
  position: absolute;
  z-index: 20;
  top: -10px;
  right: 0;
  left: 0;
  height: auto;
  background-color: $background-color-white;
  box-shadow: $box-shadown;

  .click-custom {
    display: flex;
    height: 70%;
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid #f6f6f6;

    .click {
      width: 33.33%;
      padding: 0 10px;
    }

    .price {
      padding: 0 10px;
      border-right: 1px solid #f6f6f6;

      .price-titles {
        display: flex;
        justify-content: space-between;
        height: 24px;
        line-height: 24px;
        font-size: $front-size;
        color: $background-header;
        font-weight: 600;
        margin-bottom: 20px;

        span:last-child {
          color: $color-close;
          font-weight: 500;
        }
      }

      .price-iterm {
        .list-iterms {
          list-style: none;

          .iterm {
            display: inline-block;
            width: 100%;
            height: 48px;
            line-height: 48px;
            background: rgba(246, 246, 246, 0.4);
            margin-bottom: 8px;

            a {
              padding: 12px 0 12px 50px;
              display: flex;
              align-items: center;
              width: 100%;
              line-height: 24px;
              height: 48px;
              text-decoration: none;
              color: $background-header;
              position: relative;

              &::before {
                position: absolute;
                display: block;
                content: "";
                width: 18px;
                height: 18px;
                z-index: 1;
                left: calc(calc(40px - 18px) / 2 + 8px);
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMC43NSIgeT0iMC43NSIgd2lkdGg9IjE2LjUiIGhlaWdodD0iMTYuNSIgcng9IjguMjUiIHN0cm9rZT0iIzMzM0Y0OCIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KPC9zdmc+Cg==);
              }
            }
          }
        }
      }
    }

    .color {
      padding: 0 20px;
      border-right: 1px solid #f6f6f6;

      .price-titles {
        display: flex;
        justify-content: space-between;
        line-height: 24px;
        height: 24px;
        font-size: $front-size;
        color: $background-header;
        font-weight: 600;
        margin-bottom: 20px;

        span:last-child {
          color: $color-close;
          font-weight: 500;
        }
      }

      .colors {
        display: block;

        .list-color {
          display: flex;
          flex-wrap: wrap;
          list-style: none;

          li {
            margin: 0 17px 17px 0;

            img {
              width: 30px;
              height: 30px;
              align-items: center;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .size {
      padding: 0 20px;
      border-right: 1px solid #f6f6f6;

      .price-titles {
        display: flex;
        justify-content: space-between;
        line-height: 24px;
        height: 24px;
        font-size: $front-size;
        color: $background-header;
        font-weight: 600;
        margin-bottom: 20px;

        span:last-child {
          color: $color-close;
          font-weight: 500;
        }
      }

      .size {
        display: block;
        padding: 0;

        .list-size {
          display: flex;
          list-style: none;

          li {
            margin-right: 8px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid $color-text-noactive;
            position: relative;

            p {
              width: 40px;
              height: 40px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }

  .result-custom {
    display: flex;
    height: 30%;

    ul {
      width: 70%;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        display: flex;
        width: auto;
        height: 40px;
        text-align: center;
        align-items: center;
        margin: 10px;
        padding-left: 10px;
        background-color: $background-slider;
        color: $color-text;

        p {
          line-height: 21px;
        }

        .icon {
          line-height: 40px;
          font-size: 20px;
          transform: translateY(4%);
          margin-left: 6px;
          padding: 10px;
        }
      }
    }

    .btn-custom {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      margin: 20px 0;
      line-height: 100px;
      align-items: center;
      padding: auto 0;

      .btn {
        width: 140px;
        height: 50px;
        outline: none;
        border: none;
        font-weight: 700;
        color: $color-text;
        background-color: $background-header;
      }

      .lastbtn {
        margin: 0 40px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .custom-product {
    .click-custom {
        padding: 4px;
    .click {
          padding: 0;
        .price-iterm {
            padding: 20px 0;
          .list-iterms {
            .iterm {
              height: auto;
              display: block;
              line-height: 24px;
              margin-bottom: 20px;
              padding: 10px 0;


              a {
                font-size: $front-size;
                line-height: 24px;
                padding: 10px 0;
                padding-left: 20px;

                &::before {
                    left: 0;
                }
              }

            }
          }
        }
      }
      .color {
        .colors {
          display: block;
          padding: 20px 10px;
        }
      }

      .size {
        padding: 0 20px;
        border-right: 1px solid #f6f6f6;

        .price-titles {
          display: flex;
          justify-content: space-between;
          line-height: 24px;
          height: 24px;
          font-size: $front-size;
          color: $background-header;
          font-weight: 600;
          margin-bottom: 20px;

          span:last-child {
            color: $color-close;
            font-weight: 500;
          }
        }

        .size {
          .list-size {
            display: block;
            padding: 20px 0;

            li {
              margin-right: 0;
              margin-top: 8px;
            }
          }
        }
      }
    }

    .result-custom {
        padding: 20px 0;
      ul {
        width: 55%;

        li {
            margin: 4px;
            padding-left: 10px;
        }
      }
      .btn-custom {
        display: flex;
        margin: 4px;
        flex-direction: column;
        justify-content: flex-start;
        .btn {
            width: 90%;
            margin-right: 10px;
            margin-bottom: 14px;
        }

        .lastbtn {
            margin-left: 0;
        }
      }
    }
  }
}
