

.wapper-home {

    .padding {
        padding:  0 20px;
        .css-httyht-MuiGrid-root {
            margin-top: 0 !important;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .wapper-home {
        .sliders {
            display: block;
        }
        
    }
}