
.box {
    margin-top: -9px;
    border-radius: 4px;
    background-color: white;
    overflow: hidden;

}

.input {
    position: relative;
    width: 100%;
    line-height: 30px;
    height: 30px;
    border-radius: 12px;
    background-color: #f6f6f6;
    
    
    
    input {
        border: none;
        outline:none;
        font-size: 16px;
        width: 100%;
        background-color: transparent;
        line-height: 100%;
        height: 100%;
        padding:  0 16% 0 18% ;

    }
    .icon-search {
        position: absolute; 
        width: 16%;
        padding-left: 4%;
        top: 0;
        left: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        color: $color-close;
        background-color: #ede9e9;
    }
    
    
    .close {
        position: absolute; 
        width: 12%;
        top: 0;
        right: 0;
        z-index: 10;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        color: $color-close;
        // top: 50%;
        // transform: translateY(-25%);

        .loading {
            
            color: rgba(27, 29, 41, 0.34);
        }

        .load-close {
            // top: 25%;
            // transform: translateY(-25%);
            color: rgba(27, 29, 41, 0.34);
        }
        
        .loading {
            animation: rotate 0.6s linear infinite ;
        }
        
        @keyframes rotate {
            from {
                transform: translateY(-10%) rotate(0);
            }
            to {
                transform: translateY(-10%) rotate(360deg);
            }
                
        }

        
    }
    
}