@import './variable';



.wrapper{
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);

    .title-text{
      display: flex;
      width: 200%;

      .title{
        width: 50%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
    }

    .form-container {
        width: 100%;
        overflow: hidden;

        .slide-controls{
            position: relative;
            display: flex;
            height: 50px;
            width: 100%;
            overflow: hidden;
            margin: 30px 0 10px 0;
            justify-content: space-between;
            border: 1px solid lightgrey;
            border-radius: 5px;

            input[type="radio"] {
                display: none;
            }

            .slide{
                height: 100%;
                width: 100%;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                line-height: 48px;
                cursor: pointer;
                z-index: 1;
                transition: all 0.7s ease-in-out;
            }
            
            label.signup{
            color: #000;
            }

            .slider-tab{
            position: absolute;
            height: 100%;
            width: 50%;
            left: 0;
            z-index: 0;
            border-radius: 5px;
            background: $color-close;
            transition: all 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);
            }
            #login {
                display: none;
  
                &:checked ~ label.signup{
                    color: #000;
                  }
                
                &:checked ~ label.login{
                    cursor: default;
                    user-select: none;
                }
            }
  
            #signup {
  
                &:checked ~ .slider-tab{
                  left: 50%;
                }
    
                &:checked ~ label.signup{
                  color: #fff;
                  cursor: default;
                  user-select: none;
                }
                
                &:checked ~ label.login{
                  color: #000;
                }
            }
        }
        .form-inner{
            display: flex;
            width: 200%;

            form{
                width: 50%;
                transition: all 0.7s cubic-bezier(0.68,-0.55,0.265,1.55);

                .field{
                    height: 50px;
                    width: 100%;
                    margin-top: 20px;

                    input{
                        height: 100%;
                        width: 100%;
                        outline: none;
                        padding-left: 15px;
                        border-radius: 5px;
                        border: 1px solid lightgrey;
                        border-bottom-width: 2px;
                        font-size: 17px;
                        transition: all 0.3s ease-in-out;

                        &:focus{
                            border-color: $background-header;
                        }

                        &::placeholder{
                            color: #999;
                            transition: all 0.3s ease-in-out;
                        }
                        &:focus::placeholder{
                            color: #b3b3b3;
                        }
                      }
                }

                .pass-link {
                    margin-top: 5px;
                    font-size: 12px;
                    color: #63b1bc;

                    a{
                        color: $background-slider;
                        text-decoration: none;

                        &:hover{
                            text-decoration: underline;
                          }
                      }
                }

                .signup-link{
                    text-align: center;
                    margin-top: 30px;
                    font-size: 14px;

                    a{
                        color: $background-slider;
                        text-decoration: none;

                        &:hover{
                            text-decoration: underline;
                          }
                    }

                }

                .btn {
                    height: 50px;
                    width: 100%;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;


                    &:hover .btn-layer{
                        left: 0;
                    }
                    
                    .btn-layer{
                        height: 100%;
                        width: 300%;
                        position: absolute;
                        left: -100%;
                        background: $color-close;
                        border-radius: 5px;
                        transition: all 0.4s ease-in-out;;
                      }

                      input {
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        position: relative;
                        background: none;
                        border: none;
                        color: #fff;
                        padding-left: 0;
                        border-radius: 5px;
                        font-size: 20px;
                        font-weight: 500;
                        cursor: pointer;
                      }
                }
            }
        }
    }
}
  

 



 

