@import './variable';
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.product-buy {
    --height: 26px;
    --_image-width: 800px;
    --_image-height: 1000px;
    background-color: '#cfe8fc';
    display: flex;
    margin: 50px 180px;
    max-height: var(--_image-height);

    .view-product {
        width: 60%;
        margin-left: 100px;
        position: relative;
        min-height: 900px;
        overflow: hidden;

        
        .img-view {
            transition: all 0.25s ease-in;
            display: flex;
            width: 100%;
            position: absolute;
            
            .img-hover {
                min-width: 100%;
                object-fit: cover;
                transform-origin: center;
                
           }


        }
        .slick-arrow-left {
            top: 50%;
            margin: 0 20px;
            font-size: 30px;
            color: #93acbf;
            position: absolute;
            cursor: pointer;

            &:hover {
                color:#384956;
            }


        }

        .slick-arrow-right {
            position: absolute;
            right: 20px;
            font-size: 30px;
            top: 50%;
            color: #93acbf;
            cursor: pointer;

            &:hover {
                color: #384956;
            }
        }

    }
    // list img
    .list-img {
        display: block;
        width: 5% ;
        margin-left: 5px;

        .list-imag-position {

            .slider-img {

                .border-radius {
                    opacity: 1;
                    border: 2px solid green;
                }

                img {
                    opacity: 0.5;
                    width: 100%;
                }
            }
        }
    }
   

    .infor-product {
        width: 35%;
        display: block;
        margin-left: 50px;

        .name-product {
            padding-bottom: 36px;
            border-bottom: 1px solid $color-text-old-price;

            h1 {
                font-weight: 551;
                font-size: 24px;
                color: $background-header;
                line-height: 32px;
            }

            .code {
                display: flex;
                line-height: 20px;

                span {
                    font-size: $front-size;
                    color: $color-close;
                    padding: 10px 0px;
                }

                span:first-child {
                    margin-right: 6px;
                }
            }

            .price {
                display: flex;
                font-size: 20px;
                line-height: 36px;
                align-items: center;

                span {
                    color: $color-close;
                }

                span:last-child {
                    font-weight: 400;
                    font-size: 16px;
                    color: #fdaa63;
                    text-decoration: line-through;
                    margin-left: 8px;
                }
            }
        }

        .color-size {
            padding: 36px 0;
            border-bottom: 1px solid $color-text-old-price;

            .color {

                span {
                    font-size: $front-size;
                    color: $color-close;
                    padding: 10px 0px;
                }
    
                .list-color {
                    padding: 8px 0;
                    margin: calc(20px - 8px) 0;
                    max-width: min-content;
                    // width: calc(100% - 75%);
                    display: flex;
                    // background-color: red;
                    
    
                    img {
                        height: var(--height);
                        line-height: var(--height);
                        margin-right: 10px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }

            .size {
                
                .list-size {
                    margin: 20px 0;

                    .size-name {
                        --height: 36px;
                        height: var(--height);
                        line-height: var(--height);
                        display: inline-flex;
                        align-items: center;
                        text-align: center;
                        margin-right: 8px;
                        cursor: pointer;
            
                        .name {
                            width: var(--height);
                            height: var(--height);
                            line-height: var(--height);
                            font-size: $front-size;
                            color: $color-text-noactive;
                            border: 1px solid $color-close;
                        }
                    }
                }

                .product-size-guide {
                    font-size: $front-size-moblie;

                    a {
                        color: $background-slider;
                    }
                }
            
            }

        }
        .following {
            padding: 36px 0;
            border-bottom: 1px solid $color-text-old-price;


            .product-service {
                font-size: $front-size-moblie;
                color: $background-header;
                list-style: none;
                line-height: 32px;
                padding-bottom: 20px;

                li {
                    padding: 8px 0 0 20px;
                    line-height: 21px;
                    position: relative;

                    &::before {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 18px;
                        height: 18px;
                        left: 0;
                        z-index: 1;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 50%;
                        left: 0;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNzUgMTEuOTk5OUwxMC41OCAxNC44Mjk5TDE2LjI1IDkuMTY5OTIiIHN0cm9rZT0iIzYzQjFCQyIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K) !important;
                                    }
                }
                
            }

            .product-options-actions {
                display: block;
                align-items: center;
                text-align: center;
                font-size: $front-size;
                font-weight: 600;
                
                .product-wapper-btn {
                    
                    .action {
                        line-height: 24px;
                        margin-bottom: 16px;
                        padding: 10px;
                        color: $color-text;
                        background-color: $background-header;
                        width: 100%;

                    }
                }

                .action-store {
                        height: 46px;
                        line-height: 24px;
                        margin-bottom: 16px;
                        padding: 10px;
                        border: 1px solid $background-header;
                        border-radius: 4px;
                        color: $background-header;
                        background-color: $background-color-white ;
                        text-transform: uppercase;
                }
            }

            .product-options-actions-second {
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    line-height: 16px;

                    .action-tocart {
                        display: flex;
                        font-size: $front-size-moblie;
                        background-color: $background-color-white;

                        img {
                            padding-right: 4px;
                            background-position: left center;
                            background-repeat: no-repeat;
                        }
                        
                    }

                }
                .action-store {
                    display: flex;
                    font-size: $front-size-moblie;

                    img {
                        padding-right: 4px;
                        background-position: left center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

.border-radius-color {
    border: 1px solid #757ca6;
    padding: 3px;
}

@media only screen and (max-width: 1100px) {
    .product-buy {
        margin: 50px  60px;

        .view-product {
            margin-left: 0;
        }

       
    }

}

@media only screen and (max-width: 600px) {
    .product-buy {
        display: block;
        margin: 100px 20px;

        .view-product {
            width: 100%;
            margin-left: 0;
            min-height: 480px;
            max-height: auto;
            margin-bottom: 10px;

        }

        .list-img {
            display: none;
        }

        .infor-product {
            display: block;
            width: 100%;
            margin-left: 0;

            .name-product {
                padding-bottom: 10px; 
            }

            .color-size {
                padding: 10px 0;
            }
        }
    }

}