@import './variable';


.sidebar-detail {
    display: block;

    .sidebar-male-title{
        height: 24px;
        line-height: 24px;
        font-weight: 700;
        font-size: $front-size;
        text-decoration: none;
        color: $background-header;

        &:hover {
            color: $color-page-active;
        }
    }
    .sidebar-child {
        list-style: none;
        margin-bottom: 14px;

        .sidebar-child-name {
            padding: 5px 0;

            a {
                font-size: 400;
                height: 24px;
                line-height: 24px;
                text-decoration: none;
                color: $background-header;
                
                &:hover {
                    color: $color-page-active;
                    text-decoration: underline;
                }
                
            }
        }
    }
}

.sidebar {
    margin-top: 110px;
    display: block;
    width: 100%;
    height: 40px;
    background-color: $background-slider;
    color: $background-color-white;
    // overflow: hidden;
    text-align: center;
    
    .sidebar-infor {
        position: relative;
        margin: 0 40px;
        
        
        .sidebar-title {
            padding: 0 100px;
            display: flex;
            height: 40px;
            line-height: 40px;

            .title-hover {
                height: 100%;
                width: auto;
                position: relative;


                // &:hover .active {
                //     content: "";
                //     display: block;
                //     width: 20px;
                //     height: 2px;
                //     border-radius: 2px;
                //     position: absolute;
                //     background-color: $background-color-white;
                //     top: 80%;
                //     left: 50%;
                //     transform: translateX( -50%);
                    
                // }
            }

            .title-mobile {
                display: none;
            }
            

            p {
                font-size: 14px;
                font-weight: 500;
                padding: 0 10px;
                cursor: pointer;

                &:hover {
                    font-weight: 550;
                }
            }
        }
        .sidebar-detial {
            position: absolute;
            z-index: 6;
            top: 40px;
            left: 0;
            right: 0;
            height: 300px;
            width: calc(100% + 80px);
            margin: 0 -40px;
            // padding: 0 40px;
            padding: 20px 40px 20px calc(144px);
            color: $background-color-white;
            background-color: $background-color-white;
            display: none;

            

            .detail {
                display: flex;
                height: 100%;
            }

            .sidebar-fixed-infor {
                display: flex;
                width: 60%;
                min-height: 20%;
                max-height: 60%;
                height: auto;
                flex-direction: column;
                list-style: none;
                flex-wrap: wrap;


                .sidebar-name-padding {
                    line-height: 30px;
                    height: 20px;
                    margin: 4px 0;
                    margin-bottom: 10px;
                    position: relative;
                    padding: 0 10px;

                    


                    a {
                        text-decoration: none;

                        &:hover .name{
                            color: $color-page-active;
                        }


                        .name {
                            font-size:$front-size;
                            display: flex;
                            color: $background-header;
                        }
                    }
                }
            }

            .siderbar-img{
                width: 40%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// @media only screen and (max-width: 900px) {
//     .sidebar {
//         width: 100%;
//         height: max-content;

//         .sidebar-infor {
//             width: 100%;
//             text-align: start;


//             .sidebar-title {
//                 display: block;
//                 height: auto;

//                 .title-hover {
//                     display: none;
//                 }

//                 .title-mobile {
//                     display: block;
//                     width: 100%;

//                     // .homepage-none {
//                     //     display: none;
//                     // }

//                     .sidebar-fixed-infor {
//                         display: block;
//                         list-style: none;
//                         font-size: $front-size;

//                         .sidebar-name-padding {

//                             a {
//                                 text-decoration: none;
//                                 color: $background-header;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

@media only screen and (max-width: 900px) {
    .sidebar {
        
        .sidebar-infor {
            margin: 0;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none ;
            }
            
            .sidebar-title {
                display: flex;
                width: 140%;
                 padding: 0 10px;
                 
                 p {
                    font-size: 12px;
                 }
             }
            }
        }
}