@import './variable';


.sliders-top {
    position: fixed;
    top: calc($margin-top - 10px);
    z-index: 100;
    display: block;
    width: 100%;
    height: 40px;
    left: 0;
    background-color: white;
    color: $background-color-white;
    text-align: center;
    display: none;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none ;
    }
    
    .sidebar-infor-top {
        position: relative;
        width: 100%;
        
        padding: 0 20px;
        
        
        
        .sidebar-title-top {
            width: 150%;
            display: flex;
            height: 40px;
            line-height: 40px;
            
            
            // .title-hover-top {
            //     text-decoration: none;
            //     color: $color-text;
            //     height: 100%;
            //     width: auto;
            //     position: relative;


            //     &:hover .active {
            //         content: "";
            //         display: block;
            //         width: 20px;
            //         height: 2px;
            //         border-radius: 2px;
            //         position: absolute;
            //         background-color: $background-color-white;
            //         top: 80%;
            //         left: 50%;
            //         transform: translateX( -50%);
                    
            //     }
            // }

          
            .title-mobile {
                display: none;
            }
            

            p {
                font-size: 14px;
                font-weight: 500;
                padding: 0 10px;
                cursor: pointer;

                &:hover {
                    font-weight: 550;
                }
            }
        }
        
    }
}



@media only screen and (max-width: 900px) {
    .sliders-top {
        display: block;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}