$background-header: #333f48;
$background-slider: #63b1bc;
$background-color-white: white;
$with-logo: 120px;
$with-logo-moblie: 100px;
$color-logo: wheat;
$height-header: 80px;
$margin-top: 80px;
$color-text: white;
$color-text-noactive: #6c757b;
$color-page-active: red;
$line-height: 40px;
$front-size: 14px;
$front-size-moblie: 12px;
$color-close: #625c5c;
$color-text-old-price:#c8c7cc;
$box-shadown:  0 0 32px rgb(0 0 0 / 10%), 0 0 16px rgb(0 0 0 / 10%);

